<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Amazon</title> 
        <link rel="icon" href="Image/Spring.png">
        <link rel="stylesheet" href="index.css">
        <h1> DataBase Datas </h1>
        <hr>
    </head>
    <body>
        <div class="user">
            <h2>User Details </h2>
            <tr>
                <td th:each="user : ${listUsers}"></td>
            </tr>
        </div>
    </body>
    <footer>
        <hr>
        <a href=""> Exit </a>

    </footer>
</html>

